<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>messagelist</title>
    <style>
        .post_message{
            alignment: left;
            margin-left: auto;
            margin-left: 16px;
            margin-top: 20px;
            background-color: aliceblue;
        }

    </style>
</head>
<body  >

<center>
    <table width="50%"; height="60%">
        <th colspan="3" rowspan="1"></th>
<a href="/add" class="post_message">Post a Message</a>

    <tr>

        <th>title</th>
        <th>content</th>
        <th>posted by</th>

    </tr>
<tr th:each="message :${messages}">

    <td th:text="${message.title}"></td>
    <td th:text="${message.content}"></td>
    <td th:text="${message.postedby}"></td>
</tr>
    <tr>
    <td colspan="3" rowspan="1">
        <a href="@{/update/{id}(id=${message.id})}">Update</a>
        <a href="@{/detail/{id}(id=${message.id})}">details</a>
        <a href="@{/delete/{id}(id=${message.id})}">Delete</a>


    </td>
</tr>

</table>
</center>
</body>
</html>