<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>messagelist</title>
</head>
<body bgcolor="#d3d3d3">


<a href="/add">Post a Message</a>
<table>
    <tr>

        <th>title</th>
        <th>content</th>
        <th>posted by</th>
        <th>At </th>
    </tr>
<tr th:each="message :${messages}">

    <td th:text="${message.title}"></td>
    <td th:text="${message.content}"></td>
    <td th:text="${message.postedby}"></td>
    <td th:date="${message.date}"></td>

    <td>
        <a href="@{/edit/{id}(id=${message.id})}">Edit</a>
        <a href="@{/view/{id}(id=${message.id})}">View</a>
        <a href="@{/delete/{id}(id=${message.id})}">Delete</a>


    </td>
</tr>

</table>
</body>
</html>