<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <style>
       .nav{
           alignment: left;
           margin-left: auto;
           background-attachment: fixed;
           background-color: aliceblue;
           margin-left: auto;
           margin-top: 20px;
       }


   </style>
</head>
<body bgcolor="#00ced1">
<div class="container">
    <div class="page-header">
    </div>
<form action="#" th:action="@{/process}" th:object="${message}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <center style="border: darkturquoise">
        <div class="nav">
        <h2> Post a Message</h2>
        Title <input type="text" th:field="*{title}"/>
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"/></span><br/>


    Content: <textarea rows="3" th:field="*{content}"/>
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"/></span><br/>


    <input type="hidden" th:field="*{postedby}"/>
    <span th:if="${#fields.hasErrors('postedby')}"
          th:errors="*{postedby}"/></span><br/>

 <!-- <input type="date" th:field="*{date|dd/mm/yy}"/>


    <span th:if="${#fields.hasErrors('date')}"
          th:errors="*{date}"/></span>-->


    <input type="submit" value="Submit"/>
        </div>

    </center>
</form>
    </div>
</body>
</html>